
.home{
  &-section{
    background-image:url('../../assets/index.jpg');
    background-size: initial;
    background-repeat: no-repeat;
  }
}
.question-icon{
  width:20px;
  height:20px;
  vertical-align: middle;
}