
.outer-grid {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  background: linear-gradient(to right, #c3c2e6, #f3dbe5, #fffbeb);
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.inner-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.mandal {
  &-section {
    padding: 60px 0;
  }

  &-container {
    padding-right: 15%;
    padding-left: 15%;

  }

  &-input {
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 50px;
    outline: none;
    border: 0;
  }

  &-list {
    width: 28%;
    padding: 0.8rem;
    background-color:#eeeeee;
    margin-bottom:10px;

  }

  &-bg {
    padding-top: 2.5rem;
    padding-bottom:2.5rem;
    background: linear-gradient(to right, #c3c2e6, #f3dbe5, #fffbeb);
  }

  &-profile-img {
    width: 50px;
    height: 50px;
  }
}