
.outer-grid {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 7px #0000002b;
  background-color: rgba(0, 0, 0, 0);
}

.inner-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  //box-shadow: 0 3px 17px #0000002e;
}

.mandal {
  &-section {
    padding: 100px 0 0 0;
    min-height:100%;
  }
  &-title{
    width: 100%;
    font-size:40px;
    font-weight:300;
    border:none;
    outline:none;
    background-color:transparent;
  }

  &-input {
    box-shadow: 0 3px 10px #0000002b;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    outline: none;
    border: 0;
    &:hover{
      background-color:#ffb8d521;
    }
  }

  &-list {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.6rem 0.5rem rgba(0, 0, 0, 0.06);
    border: .05rem solid #ececec;
    margin-bottom: 10px;

  }

  &-banner{
    background-color: #4093fb;
    border-radius: 1rem;
    box-shadow: 0 9px 0 #1a63ee;
    padding: 2rem 4rem;

    @media(max-width:480px){
      padding:1rem 2rem;
    }
  }

  &-profile-img {
    width: 80px;
    height: 80px;
    border-radius:50%;
  }
  &-img{
    width:500px;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 15px #1a63ee91;
    @media(max-width:480px){
      width:250px;
    }
  }
}

.bg{
  &-blue{
    background-color:#4093fb;
    &.shadow{
      box-shadow:0 10px 0 #1a63ee;
    }
  }
  &-white{
    background-color:white;
  }
  &-pink {
    background-color: #ffa6bc;
    &.shadow{
      box-shadow:0 10px 0 #ff7ba0;
    }
  }
  &-none{
    background-color:transparent;
  }
}
.box{
  &-round{
    border-radius:0 0 8rem 8rem;
  }
}