html {
  width: 100%;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "NanumSquare";
  src: local('NanumSquare'),
  url(/font/NanumSquareR.eot),
  url(/font/NanumSquareR.woff2) format('woff2'),
  url(/font/NanumSquareR.woff) format('woff'),
  url(/font/NanumSquareR.ttf) format('truetype');
}


body {
  width: 100%;
  margin: 0;
  /*background: linear-gradient(to right, #c3c2e6, #f3dbe5, #fffbeb);*/
  font-family: 'NanumSquare', sans-serif;
  font-size:15px;
  font-weight:300;
  line-height:1.5;
  color: #333333;
  @media(max-width:480px){
    font-size:12px;
  }
}

ol,ul{
  margin:0;
  padding-left:20px;
}

a {
  text-decoration: none;
  color: black;
}

p{
  line-height:1.8;
  margin:0;
}

.only-pc{
  display:initial;
  @media(max-width:480px){
    display:none;
  }
}
.only-mobile{
  display:none;
  @media(max-width:480px){
    display:initial;
  }
}