.bg{
  &-blue{
    background-color:#4093fb;
    &.shadow{
      box-shadow:0 10px 0 #1a63ee;
    }
    &-m{
      @media(max-width:480px){
        background-color:#4093fb;
      }
    }
  }
  &-opacity{
    z-index: 3;
    background-color: #ffffff94;
  }
  &-yellow{
    background-color:#fff707;
  }
  &-white{
    background-color:white;
    &-m{
      @media(max-width:480px){
        background-color:white;
      }
    }
  }
  &-main{
    background-color: #fff70361;
  }
  &-sub{
    background-color:#fff70317;
  }
  &-pink {
    background-color: #ffa6bc;
    &.shadow{
      box-shadow:0 10px 0 #ff7ba0;
    }
  }
  &-none{
    background-color:transparent;
  }
  &-black{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.68);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 99;
}

.box{
  &-round{
    border-radius:1rem;
    @media(max-width:480px){
      border-radius: 0.8rem;
    }
  }
  &-title{
    border-radius:0.5rem;
    padding:0.5rem 1rem;
  }
  &-shadow{
    box-shadow:0 0 20px rgba(0, 0, 0, 0.17);
  }
}