.bg{
  &-blue{
    background-color:#4093fb;
    &.shadow{
      box-shadow:0 10px 0 #1a63ee;
    }
    &-m{
      @media(max-width:480px){
        background-color:#4093fb;
      }
    }
  }
  &-opacity{
    background-color: #ffffff94;
  }
  &-yellow{
    background-color:#fff707;
  }
  &-white{
    background-color:white;
  }
  &-main{
    background-color: #fff70361;
  }
  &-sub{
    background-color:#fff70317;
  }
  &-pink {
    background-color: #ffa6bc;
    &.shadow{
      box-shadow:0 10px 0 #ff7ba0;
    }
  }
  &-none{
    background-color:transparent;
  }
  &-black{
    background-color: rgba(0, 0, 0, 0.68);
  }
}