.btn{
  border:0;
  cursor:pointer;

  &.write{
    font-size:30px;
    padding:1rem 2rem;
    background-color: #ff83a8;
    border-radius:0.5rem;
    color:#fff;
    &:hover{
      background-color: darken(#ff83a8,10%);
    }
    @media(max-width:480px){
      font-size:15px;
    }
  }
  &.save{
    font-size:13px;
    padding:0.5rem 1rem;
    border-radius:0.3rem;
    background-color: #ff83a8;
    color:#fff;
    &:hover{
      background-color: darken(#ff83a8,10%);
    }
  }
  &.edit{
    font-size:13px;
    padding:0.5rem 5rem;
    border-radius:0.3rem;
    background-color: #a388ff;
    color:#fff;
    &:hover{
      background-color: darken(#a388ff,10%);
    }
  }
  &.delete{
    font-size:13px;
    padding:0.5rem 1rem;
    border-radius:0.3rem;
    background-color: #ff83a8;
    color:#fff;
    &:hover{
      background-color: darken(#ff83a8,10%);
    }
  }
  &.print{
    font-size:13px;
    padding:0.5rem 5rem;
    border-radius:0.3rem;
    background-color: #ff83a8;
    color:#fff;
    &:hover{
      background-color: darken(#ff83a8,10%);
    }
  }
}