.btn{
  padding:1rem 2rem;
  font-size:20pt;
  border:0;
  border-radius:0.5rem;
  cursor:pointer;

  &.write{
    background-color: #5186ff;
    color:#fff;
    &:hover{
      background-color: darken(#5186ff,10%);
    }
  }
}