@import url('https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean');


.font{
  &-xl{
    font-size:65px;
    @media(max-width:1024px){
      font-size: 60px;
    }
    @media(max-width:480px){
      font-size:35px;
    }
  }
  &-lg{
    font-size:50px;
    @media(max-width:1024px){
      font-size: 33px;
    }
    @media(max-width:480px){
      font-size:23px;
    }
  }
  &-md{
    font-size:30px;
    @media(max-width:480px){
      font-size:20px;
    }
  }
  &-xmd{
    font-size:20px;
    @media(max-width:480px){
      font-size:15px;
    }
  }
  &-sm{
    font-size:12px;
  }

  &-bold{
    font-weight:700;
  }
  &-medium{
    font-weight:500;
  }
  &-light{
    font-weight:300;
  }
  &-white {
    color: white;
  }
  &-blue{
    color:#1a62ee;
  }
  &-pink{
    color:#ff83a8;
  }
  &-gray{
    color:#8e8e8e;
  }
  &-round{
    font-family:'Jua';
  }
  &-shadow{
    text-shadow: 3px -4px 0px #1a63ee;
  }
}
.text-shadow{
  text-shadow:10px -5px 3px rgba(0, 0, 0, 0.08);
}

.under-line{
  text-decoration: underline;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}