.mandal-section {
    padding: 6rem 2.5rem;
}

.outer-grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3);

}

.inner-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.mandal-input {
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 50px;
    outline: none;
    border: 0;
}

.mandal-list {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    display:block;
    margin-bottom:10px;
}