.container{
  padding-right: 15%;
  padding-left: 15%;
  @media(max-width:480px){
    padding-right: 5%;
    padding-left: 5%;
  }
}
.position{
  &-absolute{
    position:absolute;
  }
  &-fixed{
    position:fixed;
  }
}
.flex {
  display: flex;
  &-col{
    flex-direction: column;
    &-m{
      @media(max-width:1024px){
        flex-direction:column;
      }
    }
  }
  &-wrap {
    flex-wrap: wrap;
  }

}

.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end{
    justify-content: flex-end;
  }
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.display-inline-block {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center{
  text-align:center;
}
.ml-10{
  margin-left:10px;
}
.ml-20{
  margin-left:20px;
}
.mt-50{
  margin-top:50px;
}
.mt-20{
  margin-top:20px;
}
.mr-5{
  margin-right:5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-50{
  margin-right:50px;
  @media(max-width:1024px){
    margin-right:0;
    margin-bottom:50px;
  }
  @media(max-width:480px){
    margin-bottom:20px;
  }
}
.mb-30{
  margin-bottom:30px;
}
.mb-50{
  margin-bottom:50px;
}
.mb-20{
  margin-bottom:20px;
  @media(max-width:480px){
    margin-bottom:10px;
  }
}
.mb-200{
  margin-bottom:200px;
  @media(max-width:480px){
    margin-bottom:0;
  }
}
.mb-10{
  margin-bottom:10px;
}
.mb-80{
  margin-bottom:80px;
}
.mb-100{
  margin-bottom:100px;
  @media(max-width:1024px){
    margin-bottom:50px;
  }
  @media(max-width:480px){
    margin-bottom:20px;
  }
}
.mb-5{
  margin-bottom:5px;
}

.pt-15{
  padding-top:15%;
}
.px-2{
  padding-right:2rem;
  padding-left:2rem;
}
.py-1{
  padding-top:1rem;
  padding-bottom:1rem;
}
.py-2{
  padding-top:2rem;
  padding-bottom:2rem;
}
.px-1{
  padding-right:1rem;
  padding-left:1rem;
}
.p-1{
  padding:0.5rem;
}
.p-4{
  padding:4rem!important;
}

.border {
  &-bottom {
    border-bottom: 1px solid #eeeeee;
  }
  &-none{
    border:0;
  }
}

.h-100{
  min-height:100vh;
}
.w-100{
  width:100%;
}